<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>AC/Submit</th>
      <th>Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= id_format(problem.id) %></td>
        <td><%= link_to problem.title, problem %></td>
        <td><%= problem.accepted %>/<%= problem.submit %></td>
        <td><%= problem.getRate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
