<h1>Listing problems</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Input</th>
      <th>Output</th>
      <th>Sample input</th>
      <th>Sample output</th>
      <th>Hint</th>
      <th>Source</th>
      <th>Time limit</th>
      <th>Memory limit</th>
      <th>Accepted</th>
      <th>Submit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.title %></td>
        <td><%= problem.description %></td>
        <td><%= problem.input %></td>
        <td><%= problem.output %></td>
        <td><%= problem.sample_input %></td>
        <td><%= problem.sample_output %></td>
        <td><%= problem.hint %></td>
        <td><%= problem.source %></td>
        <td><%= problem.time_limit %></td>
        <td><%= problem.memory_limit %></td>
        <td><%= problem.accepted %></td>
        <td><%= problem.submit %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>
