<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= id_format(@problem.id) %> - <%= @problem.title %></h1>

<p class="text-center">
  <span class="label label-important">Time limit: <%= @problem.time_limit %>s</span>
  <span class="label label-important">Memory limit: <%= @problem.memory_limit %>MB</span>
  <span class="label label-success">Accepted: <%= @problem.accepted %></span>
  <span class="label label-inverse">Submit: <%= @problem.submit %></span>
</p>

<dl>
  <dt>Description:</dt>
  <dd><%= @problem.description %></dd>
</dl>

<dl>
  <dt>Input:</dt>
  <dd><%= @problem.input %></dd>
</dl>

<dl>
  <dt>Output:</dt>
  <dd><%= @problem.output %></dd>
</dl>

<dl>
  <dt>Sample input:</dt>
  <dd><%= @problem.sample_input %></dd>
</dl>

<dl>
  <dt>Sample output:</dt>
  <dd><%= @problem.sample_output %></dd>
</dl>

<dl>
  <dt>Hint:</dt>
  <dd><%= @problem.hint %></dd>
</dl>

<dl>
  <dt>Source:</dt>
  <dd><%= null_string_replace(@problem.source) %></dd>
</dl>
