<!DOCTYPE html>
<html>
<head>
  <title>Roj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%= t('Roj') %></a>
          <div class="nav-collapse collapse">
            <!-- Main Navbar -->
            <ul class="nav">
              <li class="">
                <a href="/"><%= t('Home') %></a>
              </li>
              <li class="">
                <%= link_to t('Problems'), problems_path %>
              </li>
              <li class="">
                <%= link_to t('Status'), problems_path %>
              </li>
              <li class="">
                <%= link_to t('Contests'), problems_path %>
              </li>
              <li class="">
                <%= link_to t('RankList'), problems_path %>
              </li>
            </ul>

            <!-- Right Navbar -->
            <ul class="nav pull-right">
<% if user_signed_in? %>
              <li class="">
                <%= link_to current_user.nickname, edit_user_registration_path %>
              </li>
              <li class="">
                <%= link_to t("Sign out"), destroy_user_session_path, :method => :delete %>
              </li>
<% else %>
              <li class="">
                <%= link_to t("Sign in"), new_user_session_path %>
              </li>
              <li class="">
                <%= link_to t("Sign up"), new_user_registration_path %>
              </li>
<% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!-- Placeholder
    ================================================== -->
    <div class="container">
      <div style="height: 50px"></div>
    </div>

    <div class="container">
<!-- Notice/Alert Bar
    ================================================== -->
<% if notice %>
    <div class="alert alert-block alert-warning fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p id="notice"><%= notice %></p>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-block alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p id="alert"><%= alert %></p>
    </div>
<% end %>

<!-- Main
    ================================================== -->
<%= yield %>

    </div>

</body>
</html>
